@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Roboto+Slab&display=swap');
*{
    box-sizing: border-box;
}

.introduce-block{
    padding: 0 30px;
    background-color: #e0dbd1;
}

.introduce{
    background-color: #d8cfc5;
    padding: 60px 5% 30px;
    &-photo{
        width: 100%;
        margin-bottom: 30px;
    }
    &-information{
        &-image{
            margin-bottom: 20px;
        }
        &-title{
            color: #99782f;
            font-size: 18px;
            line-height: 21px;
            font-weight: 700;
            font-family: 'EB Garamond', serif;
            margin-bottom: 30px;
        }
        &-text{
            color: #99782f;
            font-size: 14px;
            line-height: 20px;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 30px;
        }
        &-btn{
            background-color: #b0893d;
            outline: none;
            border: none;
            cursor: pointer;
            & a{
                display: block;
                width: 100%;
                padding: 15px;
                text-decoration: none;
                color: #fff;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}

@media(min-width:768px){
    .introduce-block{
        background-color: #e0dbd100;
        position: absolute;
        top: 0px;
    }
    .introduce{
        background-color: #d8cfc5;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        &-information{
            &-image{
                margin-bottom: 20px;
                padding-top: 20px;
            }
            &-title{
                font-size: 24px;
                line-height: 30px;
            }
            &-text{
                color: #99782f;
                font-size: 14px;
                line-height: 20px;
                font-family: 'Roboto', sans-serif;
                margin-bottom: 30px;
            }
        }
    }
    
}


@media(min-width:992px){
    .introduce{
        grid-gap: 40px;
        &-information{
            &-image{
                padding-top: 30px;
            }
            &-title{
                font-size: 28px;
                line-height: 35px;
            }
            &-text{
                color: #99782f;
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
    .introduce-block{
        padding: 0 60px;
    }
}

@media(min-width:1200px){
    .introduce-block{
        padding: 0 200px;
    }
    .introduce{
        &-information{
            &-text{
                padding-right: 60px;
            }
        }
    }
}


@media(min-width:1600px){
    .introduce-block{
        padding: 0 400px;
    }

}